<div class="container">
  <div class="video-wrapper">
    <h3>start at a specified time</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-url="specifiedTime.url" player="specifiedTime.player"></youtube-video>
    </div>
    <p class="video-detail">player's state: <span ng-bind="specifiedTime.player.currentState"></span></p>
  </div>

  <div class="video-wrapper">
    <h3>loop a video</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-id="looper.video" player="looper.player"></youtube-video>
    </div>
  </div>

  <div class="video-wrapper">
    <h3>custom controls</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-id="custom.video" player="custom.player" player-vars="custom.vars"></youtube-video>
    </div>
    <div class="controls">
      <button class="border-button play" ng-click="custom.player.playVideo()">play</button>
      <button class="border-button pause" ng-click="custom.player.pauseVideo()">pause</button>
    </div>
    <p class="video-detail">on mobile devices, custom controls won't work until the video has been interacted with directly</p>
  </div>

  <div class="video-wrapper">
    <h3>toggle ng-if</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" ng-if="conditional.visible" video-id="conditional.video" player-vars="conditional.vars"></youtube-video>
    </div>
    <div class="controls">
      <button class="border-button toggle" ng-click="conditional.toggle()">{{conditional.visible ? 'hide' : 'autoplay'}} video</button>
    </div>
    <p class="video-detail">autoplay won't work on mobile devices :(</p>
  </div>

  <div class="video-wrapper">
    <h3>playlist</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" player-vars="playlist.vars"></youtube-video>
    </div>
  </div>

  <div class="video-wrapper">
    <h3>dynamic video id</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-id="dynamic.video"></youtube-video>
    </div>
    <div class="controls">
      <button class="border-button toggle" ng-click="dynamic.change()">change video</button>
    </div>
  </div>

  <footer>
    <a href="https://github.com/brandly/angular-youtube-embed" class="border-button view-github">View Project on GitHub</a>
  </footer>
</div>
